<div>
  <main>
    <section>
      {{> title data='Notebooks' big=true}}
      <hr>

        <div class="card" style="width: 38rem;">
          <img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFjYm9vayUyMHByb3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="Apple MacBook Pro">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><div>{{description}}</div> <br>
      <div>price: {{price}}</div><br>
      <div>category: {{category}}</div><br>
      <div>
        <b>Features:</b><br>
        {{#with features}}
          {{#with processor}}
          processor: {{brand}}, {{model}}, {{speed}}, {{cores}} cores, {{cache}} cache <br>
          {{/with}}
          {{#with memory}}
          memory: {{type}}, {{size}}, {{speed}} <br>
          {{/with}}
          {{#with storage}}
          storage: {{type}}, {{size}} <br>
          {{/with}}
          {{#with display}}
          display: {{size}}, {{resolution}}, {{technology}}, {{color_space}}, {{brightness}}, {{refresh_rate}}<br>
          {{/with}}
          {{#with graphics}}
          graphics: {{brand}}, {{model}}, {{memory}} <br>
          {{/with}}
          
          ports:
          <ul>
          {{#each ports}}
          <li>
            type: {{type}}<br>
            count: {{count}}<br>
              <ul>
                {{#each features}}
                  <li>
                  {{this}}<br>
                  </li>
                {{/each}}
              </ul>

          </li>
          {{/each}}
          </ul>
          {{#with battery}}
          battery: {{type}}, {{capacity}}, {{life}}<br>
          {{/with}}
          weight: {{weight}}<br>
          {{#with dimensions}}
          dimensions: height: {{height}}, width: {{width}}, depth: {{depth}}<br>
          {{/with}}
          operating system: {{operating_system}}<br>
          accessories: 
          <ul>
            {{#each accessories}}
              <li>
                name: {{name}}<br>
                price: {{price}}<br><br>
              </li>
            {{/each}}
          </ul>


        {{/with}}

      </div></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>


      


      </section>
  </main>
</div>