<main class="ps-3">
    <div class="card p-2 mb-5">
        <div class="row">
            <div class="col-7">
                <h2>
                    {{navigation.Logo}}
                </h2>
            </div>
            <div class="col-5">
                <div class="nav d-flex justify-content-end">
                    {{#each navigation.links}}
                    <div class="nav-item">
                        <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{href}}">
                            {{text}}
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <ol class="breadcrumb">
            {{#each breadcrumb}}
            {{#if @last}}
            <li class="breadcrumb-item active">
                {{name}}
            </li>
            {{else}}
            <li class="breadcrumb-item">
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>

    <h1>{{header}}</h1>

    <div class="row">
        {{#each sortBlock}}
        <div class="col-3">
            <label class="form-label">{{label}}</label>
            <select class="form-select">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>

    <div class="row">

        <div class="col-4">
            <div class="card my-5">
                <div class="card-body">
                    {{#with filterBlock}}


                    {{#with sellers}}
                    <div class="form-check-label mb-3">
                        {{title}}
                    </div>

                    <div class="form-check">
                        {{#each list}}
                        <label class="form-check-label">{{value}}</label>
                        <input type="checkbox" class="form-check-input">
                        <br>
                        {{/each}}
                    </div>
                    {{/with}}

                    <hr class="my-3">

                    {{#with brands}}
                    <label class="form-label">{{title}}</label>
                    <input class="form-control" placeholder="{{input.placeholder}}">
                    <div class="form-check my-3">
                        {{#each options}}
                        <label class="form-check-label">{{value}}</label>
                        <input type="checkbox" class="form-check-input">
                        <br>
                        {{/each}}
                    </div>
                    {{/with}}

                    <hr class="my-3">

                    {{#with price}}
                    <label class="form-label">{{title}}</label>

                    <p><input class="form-control-sm" placeholder="{{range.from}}"></p>
                    <p><input class="form-control-sm" placeholder="{{range.to}}"></p>

                    <p><a href="{{button.link}}" class="btn btn-outline-secondary px-3">{{button.text}}</a></p>
                    {{/with}}

                    <hr class="my-3">

                    {{#each filterList}}

                    <div class="form-check-label mb-3">
                        {{title}}
                    </div>

                    <div class="form-check my-3">
                        {{#each options}}
                        <label class="form-check-label">{{value}}</label>
                        <input type="checkbox" class="form-check-input">
                        <br>
                        {{/each}}
                    </div>
                    {{#if @last}}
                    {{else}}
                    <hr class="my-3">
                    {{/if}}
                    {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>

        <div class="col-8 mt-5">
            {{> catalogItem}}
        </div>
    </div>

    <div class="my-5">
        {{#with service}}
        <div class="card text-bg-success text-center">
            <div class="card-body">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                {{#each buttons}}
                <a href="https://www.youtube.com/"><button class="btn btn-primary">{{text}}</button></a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </div>

    <hr class="mt-5 mb-2">

    <div class="row">
        {{#each footer}}
        <div class="nav col-2 px-2 mx-3">
            {{#each this}}
            <div>
                <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">
                    {{this.text}} <br>
                </a>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</main>