<main class="ps-3">
    <div>
        {{#with navigation.links.[0]}}
        <a href="https://github.com/">{{text}}</a>
        {{/with}}
        {{#with navigation.links.[1]}}
        <a href="https://github.com/">{{text}}</a>
        {{/with}}
        {{#with navigation.links.[2]}}
        <a href="https://github.com/">{{text}}</a>
        {{/with}}
        <button class="btn btn-primary" href="https://nodejs.org/en/">{{navigation.button.text}}</button>
    </div>
    <br>
    <hr>
    <br>
    <div>
        {{#with header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <button class="btn btn-primary" href="https://www.youtube.com/">
            {{button.text}}
        </button>
        {{/with}}
    </div>
    <br>
    <hr>
    <br>
    <h2>{{city.title}}</h2>
    <div class="row g-5">
        <div class="col-5">
            <div class="card">
                {{#with city.cards.[0]}}
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="New York">
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                    <p><button class="btn btn-primary" href="https://github.com/">{{button.text}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                {{#with city.cards.[1]}}
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Paris">
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                    <p><button class="btn btn-primary" href="https://github.com/">{{button.text}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                {{#with city.cards.[2]}}
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Tokyo">
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                    <p><button class="btn btn-primary" href="https://github.com/">{{button.text}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                {{#with city.cards.[3]}}
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Sydney">
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                    <p><button class="btn btn-primary" href="https://github.com/">{{button.text}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <p>
        <h2>{{winner.title}}</h2>
        </p>
        <div>
            <table class="table">
                {{#with winner.table}}
                <thead>
                    <tr>
                        {{#each head}}
                        <th>
                            {{this}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <th>{{place}}</th>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{nickname}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                {{/with}}
            </table>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>{{gallery.title}}</h2>
    <div class="row g-1">
        {{#each gallery.cards}}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        {{name}}
                    </div>
                </div>
                <ul class="list-group">
                    {{#each items}}
                    <li class="list-group-item">
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>
    <br>
    <p class="display-3">{{relaxion.title}}</p>
    <div class="row g-5">
        <div class="col-5">
            <div class="card text-bg-secondary">
                {{#with relaxion.cards.[0]}}
                <div class="card-header">{{header}}</div>
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-secondary">
                {{#with relaxion.cards.[1]}}
                <div class="card-header">{{header}}</div>
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-secondary">
                {{#with relaxion.cards.[2]}}
                <div class="card-header">{{header}}</div>
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-5">
            <div class="card text-bg-secondary">
                {{#with relaxion.cards.[3]}}
                <div class="card-header">{{header}}</div>
                <br>
                <p class="card-title">{{title}}</p>
                <div class="card-body">
                    <p>{{description}}</p>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row g-5">
        {{#each rest.cards}}
        <div class="col-5">
            <div class="card text-center">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <h6>{{title}}</h6>
                    <p> {{description}}</p>
                    <p><button class="btn btn-primary">{{button}}</button></p>
                    <div class="card-footer">{{footer}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>
    <br>
    <p class="display-6">{{proposition.title}}</p>
    <div class="row g-5">
        {{#each proposition.card}}
        <div class="col-4">
            <div class="card text-bg-warning text-light">
                <div class="card-body">
                    <div class="card-header">
                        {{header}}
                    </div>
                    <div>
                        <p>{{title}}</p>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>
    <br>
    <p>
    <h5>{{footer.title}}</h5>
    </p>
    <div class="row g-1">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {{#with footer.navigation.[0]}}
                    <a class="btn btn-link btn-info text-primary" href="https://github.com/">{{text}}</a>
                    {{/with}}
                </li>
                <li class="list-group-item">
                    {{#with footer.navigation.[1]}}
                    <a class="btn btn-link btn-info text-primary" href="https://www.google.com/">{{text}}</a>
                    {{/with}}
                </li>
                <li class="list-group-item">
                    {{#with footer.navigation.[2]}}
                    <a class="btn btn-link btn-info text-primary" href="https://www.youtube.com/">{{text}}</a>
                    {{/with}}
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {{#with footer.socialMedia.[0]}}
                    <a class="btn btn-outline-dark" href="https://www.facebook.com/">{{name}}</a>
                    {{/with}}
                </li>
                <li class="list-group-item">
                    {{#with footer.socialMedia.[1]}}
                    <a class="btn btn-outline-dark" href="https://twitter.com/">{{name}}</a>
                    {{/with}}
                </li>
                <li class="list-group-item">
                    {{#with footer.socialMedia.[2]}}
                    <a class="btn btn-outline-dark" href="https://www.instagram.com/">{{name}}</a>
                    {{/with}}
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    {{#with footer.partners.[0]}}
                    <a class="btn btn-outline-info" href="https://www.acme.com/">{{name}}</a>
                    {{/with}}
                </li>
                <li class="list-group-item">
                    {{#with footer.partners.[1]}}
                    <a class="btn btn-outline-info" href="https://www.globex.com/">{{name}}</a>
                    {{/with}}
                </li>
                <li class="list-group-item">
                    {{#with footer.partners.[2]}}
                    <a class="btn btn-outline-info" href="https://www.starkindustries.com/">{{name}}</a>
                    {{/with}}
                </li>
            </ul>
        </div>
    </div>
</main>