{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
		{{#with data}}
      {{page.title}}
	  {{/with}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
	<h1>{{page.title}}</h1>
    <header>
		{{#with header}}
        <div>
            <h1>{{name.firstname}} {{name.lastname}}</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
        <em>
            {{salary.text}}
        </em>
        </div>
        <br>
        <hr>
		<div>
			<em>
				<address>{{address}}</address>
			</em>
		</div>
		<br>
		<hr>
		{{/with}}
    </header>
	

	{{> nav}}
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}

	{{#with footer}}
	<footer>
        <hr>
        <br>
		<div>
        {{#with social}}
              {{> link text=email.text href=email.href blank=true  }}
              {{> link text=phone.text href=phone.href blank=true }}
              {{> link text=linkedin.text href=linkedin.href blank=true noLine=true }}
        {{/with}}
		</div>
    </footer>
	<br>
	<div>
		<em>Copyright by {{../header/name/firstname}} {{../header/name/lastname}}</em>
	</div> 
	<br>
	<div>
		<address>
			{{../header/address}}
		</address>
	</div>
  <br>
  <div>
   <social>
    {{../footer/social/email/text}}
   </social>
  </div>

	{{/with}}
  </body>

</html>